/src/.quarantine/
/src/.tmb/
/src/wp-admin/
/src/wp-content/cache/
/src/wp-content/debug.log
/src/wp-content/index.php
/src/wp-content/languages/
/src/wp-content/plugins/*/
!/src/wp-content/plugins/acf-repeater/
!/src/wp-content/plugins/calendrier/
!/src/wp-content/plugins/magsy-essentials/
!/src/wp-content/plugins/participation/
/src/wp-content/themes/index.php
/src/wp-content/themes/twenty*
/src/wp-content/upgrade/
/src/wp-includes/
/src/wp-installer/tmp/
/src/wp-installer/wp-cli.phar
/src/.installed
/src/.maintenance
/src/index.php
/src/license.txt
/src/readme.html
/src/wp-activate.php
/src/wp-blog-header.php
/src/wp-comments-post.php
/src/wp-config-sample.php
/src/wp-cron.php
/src/wp-links-opml.php
/src/wp-load.php
/src/wp-login.php
/src/wp-mail.php
/src/wp-settings.php
/src/wp-signup.php
/src/wp-trackback.php
/src/xmlrpc.php
/src/.idea/
/src/.vscode/
/src/.sass-cache/
/src/node_modules/
/src# Query Monitor
/src# WP Rocket
/src# W3 Total Cache
/src/wp-content/advanced-cache.php
/src/wp-content/cache/
/src/wp-content/db.php
/src/wp-content/object-cache.php
/src/wp-content/w3tc-config/
/src/wp-content/wp-rocket-config/
/uploads
/files_mf